[setup]
;options are Redis, PostgreSQL or MongoDB
DatabaseChoice = PostgreSQL

[redis]
Uri = redis://localhost:6379
[postgresql]
Uri = postgresql://postgres:PASSWORD@HOST:PORT/DATABASE
[mongodb]
Uri = mongodb://mongo:PASSWORD@HOST:PORT
